@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

                      /* ------ GENERAL STYLING ------ */
/* CSS variables */
:root{
  --body-gradient: linear-gradient(to right,
      rgba(244, 246, 250, 1),
      rgba(239, 241, 247, 1));
  --nav-gradient: linear-gradient(to right,
      rgba(249, 107, 142, 1),
      rgba(218, 103, 230, 1),
      rgba(130, 125, 253, 1));
  --caption-background: rgba(255, 255, 255, 0.8);
  --white: #FFFFFF;
  --dark-grey: #373D46;
  --dark-blue-grey: #231F48;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior:smooth;
}

body {
  font-family: 'Nunito', sans-serif;
  background: var(--body-gradient);
}

                      /* ------ NAVIGATION SIDEBAR AND BUTTONS ------ */
/* The sidebar will occupy the first grid column (see * --- MAIN CONTENT --- *), although it wont be part of the grid itself as I'm giving it a fixed position, so it stays visible at all the times. */
nav {
  position: fixed;
  width: 20vw;
  z-index: 1;
  overflow-x: hidden;
  background: var(--nav-gradient);
}

/* Removing the bullets of the list items in the sidebar */
nav li {
  list-style: none;
}

/* Styling the links */
nav li a {
  color: var(--white);
  font-weight: 700;
  opacity: 0.6;
  text-decoration: none;
  transition: 0.5s;
}

/* What to do when the links are hover */
nav li a:hover {
  opacity: 1;
}

/* Styling all the elements inside the nav bar, making them display vertically*/
.navBar, .social, .social ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  text-align: center;
}

/* Make the bit of the sidebar containing the menu span 60% */
.navBar {
  min-height: 60vh;
}

/* Give the remaining 40% available to the social links */
.social {
  min-height: 40vh;
}

/* Styling the SVG images of the links */
.social img {
  width: 3em;
  padding: 0.5em;
}

/* What to do when javascript adds this class to a specific link */
.active{
  opacity: 1;
}

/* BUTTONS */
/* Giving them all a bit of style */
.buttons button{
  position: relative;
  border: 2px solid #fff;
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
  padding: 13px 15px;
  text-shadow: 5px 10px var(--dark-grey);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  outline: none;
}

/* What to do when they are hovered */
.buttons button:hover {
  background-color: #fff;
  color: var(--dark-grey);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 1);
  transition: 0.3s ease-in-out;
}

/* Javascript will change this class making them visible or invisible */
.buttons button.invisible{
  display: none;
}

/* Buttons of the image caroussel */
.buttons button#next {
  position: absolute;
  top: 50vh;
  right: 1vw;
}
.buttons button#previous {
  position: absolute;
  top: 50vh;
  left: 1vw;
}
.buttons button#play, .buttons button#pause {
  position: absolute;
  top: 90vh;
  left: 74vw;
}

                      /* ------ MAIN CONTENT ------ */
/* Creats grid of 2 columns and *n implicit rows. The sidebar is placed out of the grid with display:fix, occupying the width of the first grid column */
main {
  display: grid;
  grid-template-columns: 20% auto;
}

                      /* ------ SECTIONS ------ */
/* Making them all start at the second column of the grid (the first one is empty but occupied by the sidebar, and also making them occupy the whole height of the viewport) */
#home, #aboutMe, #whyFC,
#whatIlearned, #portfolio,
#gallery {
  grid-column-start: 2;
  height: 100vh;
}

/* HOME */
#home {
  background: url('../assets/images/bgHome.png') no-repeat center center/cover;
}

/* ABOUT ME */
#aboutMe {
  background: url('../assets/images/bgShapes.png') no-repeat center center/cover;
}

/* WHY FOUNDERS AND CODERS */
#whyFC {
  background-color: #F6CD61;
}

/* WHAT I'VE LEARNED */
#whatIlearned {
  background-color: #45A5AB;
}

/* PORTFOLIO */
#portfolio {
  background-color: #F18870;
}

/* Make the div containing the cards centered and create a responsive grid*/
.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-gap: 1em;
  align-content: center;
}

/* Make each card span the whole grid cell space and change the cursos to pointer */
.container .card {
  position:relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

/* Styling both sides of the cards */
.front, .back {
  width: 100%;
  height: 100%;
  /* Avoid scrolling */
  overflow: hidden;
  /* Avoid text to be mirrowed when turning the card 180deg */
  backface-visibility: hidden;
  transition: 0.6s ease-in-out;
}

/* Positioning the front absolute so it can sit on top of the back */
.front {
  position: absolute;
  transform: perspective(600px) rotateY(0deg);
}

/* Giving the back some height, a background image, and flipping it over 180deg so its not visibile  */
.back {
  height: 30vh;
  background: var(--nav-gradient);
  transform: perspective(600px) rotateY(180deg);
}

/* Styling the back of the card */
.back-content {
  height: 100%;
  top: 50px;
  color: var(--white);
  opacity: 0.8;
  text-align: center;
  width: 100%;
  padding: 2em;
}

/* Styling the buttons at the back of the card */
.back-content > .buttons{
  width: 100%;
  transform: scale(0.6);
  display: inline-flex;
  justify-content: space-between;
  font-size: 1.2em;
}

/* avoiding the default blue colour in links  */
.back-content a {
    color: inherit;
}

/* Adjusting the size of the span text */
.back-content span{
   font-size: 0.8em;
 }

/* Styling the technologies icons */
.technologies {
  font-size: 1.2em;
  margin-top: 0.5em;
}

/* targetting the 'back' immediate child of card when hovering and modifying its rotation and perspective */
.card:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}

/* targetting the 'front' immediate child of card when hovering and modifying its rotation and perspective */
.card:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}

/* Giving each back side of the cards a responsive background image */
.front#one{
  background: url('../assets/images/portfolio1.png') no-repeat center center/cover;
}
.front#two{
  background: url('../assets/images/portfolio2.jpg') no-repeat center center/cover;
}
.front#three{
  background: url('../assets/images/portfolio3.png') no-repeat center center/cover;
}
.front#four{
  background: url('../assets/images/portfolio4.png') no-repeat center center/cover;
}
.front#five{
  background: url('../assets/images/portfolio5.png') no-repeat center center/cover;
}
.front#six{
  background: url('../assets/images/portfolio6.png') no-repeat center center/cover;
}

/* GALLERY */
#gallery {
  background-color: #A7DB66;
}

/* Image Caroussel */
.caroussel {
  /* Position it relative to the gallery section */
  position: relative;
  /* Avoiding horizontal scrolling */
  overflow: hidden;
  /* Making it occupy the whole height of the viewport */
  height: 100vh;
  /* Giving it the space not used by the sidebar (20vh) */
  width: 80vw;
}

/* Each of the slides in the caroussel */
.slide {
  /* Positioned absolute and at the top left corner of the carousel */
  position: absolute;
  top: 0;
  left: 0;
  /* Giving them the whole width available taking in to account the sidebar */
  width: 80vw;
  /* And the full height of the viewport*/
  height: 100%;
  /* The initial opacity is 0 but Javascript will modify this to transition between slides */
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

/* Javascript will manage this class to transition between slides */
.slide.current {
  opacity: 1;
}

/* Styles the images to be full screen and responsive */
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1004px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  top: 0;
  left: 0;
}

/* Styling the overlays containing the info of each image */
.slide .overlay {
  position: absolute;
  bottom: 4vh;
  /* Initially positioning them  outside the page, so they later slide in from the left, and giving them an opacity of 0 so they also fade in */
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: var(--caption-background);
  color: var(--dark-grey);
  padding: 15px;
}

.slide .overlay h1 {
  margin-bottom: 10px;
}

/* Whan Javascript adds the current class to the parent slide we make the overlay visible and slide in from the left */
.slide.current .overlay {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

/* SMALLER SCREENS */
@media screen and (max-width:640px) {
  /* Adjusting the grid layout to have only one column */
  main{
    grid-template-columns: 1fr;
  }
  /* Make the sidebar dissappear with a nice transition effect */
  nav{
    width: 0px;
    opacity: 0.9;
    transition: all 1s ease-in-out;
  }
  /* Positioning all the sections in the one-column grid */
  #home, #aboutMe, #whyFC,
  #whatIlearned, #portfolio,
  #gallery {
    grid-column-start: 1;
  }
  /* Now that there's no sidebar the caroussel and its slides can use the whole width of the viewport */
  .caroussel, .slide{
    width: 100vw;
  }

  /* Adding the hamburger and close buttons to the layout and positioning them */
  .buttons button#hamburger, .buttons button#close{
    display: block;
    position: fixed;
    top: 2vh;
    left: 2vw;
    /* Making them stay on top of the navbar when this one is visible (navbar has an index of 1) */
    z-index: 2;
    transition: 1s ease-in-out;
  }

  /* Revealing the hamburger button and placing it on top of the sidebar and the close button */
  .buttons button#hamburger {
    opacity: 1;
    /* Because the hamburger button is the first one that needs to be displayed I give him an index of 3, otherwise there may be conflict between it and the close button */
    z-index: 3;
  }

  /* Making the close button invisible */
  .buttons button#close {
    opacity: 0;
  }
}

  /* Let the portfolio section have an auto height so it can accommodate all the cards without breaking the layout */
@media screen and (max-width:1271px) {
  #portfolio{
    height: auto;
    padding: 2vh;
  }
}

@media screen and (max-width: 813px) {
  /* Let the portfolio section have an auto height so it can accommodate all the cards without breaking the layout */
  #portfolio {
    height: auto;
    padding: 2vh;
  }

  /* Positioning the caroussel overlays below the page so they slide up from the bottom */
  .slide .overlay {
    bottom: -300px;
    left: 0;
    /* Make them use the whole width of the viewport */
    width: 100%;
  }

  /* When Javascript gives the slides the class of current make them slide from the bottom */
  .slide.current .overlay {
    transform: translateY(-300px);
  }

  /* Reposition the play and pause buttons so they don't interfere with the overlay */
  .buttons button#play, .buttons button#pause {
    position: absolute;
    top: 65vh;
    left: 45%;
    transition: 0.3s ease-in-out;
  }
}

/* On resizing, when reaching half the width of the images, make sure the images are centered */
@media screen and (max-width: 1004px) {
  img.bg {
    left: 50%;
    /* 50% of the image width + an offset to compensate for the sidebar */
    margin-left: calc(-502px + 40%);
    transition: 0.3s;
  }
}
