@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

                      /* ------ GENERAL STYLING ------ */
/* CSS variables */
:root{
  --body-gradient: linear-gradient(to right,
      rgba(234, 235, 240, 1),
      rgba(229, 231, 237, 1));
  --nav-gradient: linear-gradient(to right,
      rgba(249, 107, 142, 1),
      rgba(218, 103, 230, 1),
      rgba(130, 125, 253, 1));
  --caption-background: rgba(255, 255, 255, 0.8);
  --overlay-background: rgba(255, 255, 255, 0.2);
  --white: #FFFFFF;
  --dark-grey: #373D46;
  --dark-blue-grey: #231F48;
  --salmon: rgba(249, 107, 142, 0.5);
  --purple: rgba(130, 125, 253, 0.5);
  --overlay-shadow: 3px -1px 25px 0px rgba(0,0,0,0.2);
  --buttons-shadow: 0 10px 50px rgba(0, 0, 0, 0.5);
  --buttons-shadow-hovered: 0 10px 50px rgba(0, 0, 0, 1);
  --text-shadow: 5px 10px var(--dark-grey);
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior:smooth;
}
body {
  font-family: 'Nunito', sans-serif;
  background: var(--body-gradient);
  font-size: 1.4rem;
}
/* Make all the H1 headers have an anaglyph effect */
h1{
  position: relative;
  font-size: 9rem;
  padding-left: 2.5rem;
  width: auto;
  color: var(--salmon);
  background-color: var(--caption-background);
  -webkit-box-shadow: var(--overlay-shadow);
  -moz-box-shadow: var(--overlay-shadow);
  box-shadow: var(--overlay-shadow);
}
/* I use the after pseudo element to overlap the same text with different color */
h1:after{
  padding-left: 2.5rem;
  position: absolute;
  left: -4px;
  top: 5px;
  color: var(--purple);
}

                      /* ------ NAVIGATION SIDEBAR AND BUTTONS ------ */
/* The sidebar will occupy the first grid column (see * --- MAIN CONTENT --- *), although it wont be part of the grid itself as I'm giving it a fixed position, so it stays visible at all the times. */
nav {
  position: fixed;
  width: 20vw;
  z-index: 1;
  overflow-x: hidden;
  background: var(--nav-gradient);
}

/* Removing the bullets of the list items in the sidebar */
nav li {
  list-style: none;
}

/* Styling the links */
nav li a {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 800;
  opacity: 0.6;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

/* What to do when the links are hover */
nav li a:hover {
  opacity: 1;
}

/* Styling all the elements inside the nav bar, making them display vertically*/
.navBar, .social, .social ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  text-align: center;
}

/* Make the bit of the sidebar containing the menu span 60% */
.navBar {
  min-height: 60vh;
}

/* Give the remaining 40% available to the social links */
.social {
  min-height: 40vh;
}

/* Styling the SVG images of the links */
.social img {
  width: 6rem;
  padding: 1rem;
}

/* What to do when javascript adds this class to a specific link */
.active{
  opacity: 1;
}

/* BUTTONS */
/* Giving them all a bit of style */
.buttons button{
  position: relative;
  border: 2px solid #fff;
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
  padding: 13px 15px;
  text-shadow: var(--text-shadow);
  -webkit-box-shadow: var(--buttons-shadow);
  -moz-box-shadow: var(--buttons-shadow);
  box-shadow: var(--buttons-shadow);
  border-radius: 50%;
  outline: none;
}

/* What to do when they are hovered */
.buttons button:hover {
  background-color: #fff;
  color: var(--dark-grey);
  box-shadow: var(--buttons-shadow-hovered);
  -webkit-box-shadow: var(--buttons-shadow-hovered);
  -moz-box-shadow: var(--buttons-shadow-hovered);
  box-shadow: var(--buttons-shadow-hovered);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/* Javascript will change this class making them visible or invisible */
.buttons button.invisible{
  display: none;
}

/* Buttons of the image caroussel */
.buttons button#next {
  position: absolute;
  top: 50vh;
  right: 1vw;
}
.buttons button#previous {
  position: absolute;
  top: 50vh;
  left: 1vw;
}
.buttons button#play, .buttons button#pause {
  position: absolute;
  top: 90vh;
  left: 74vw;
}

                      /* ------ MAIN CONTENT ------ */
/* Creats grid of 2 columns and *n implicit rows. The sidebar is placed out of the grid with display:fix, occupying the width of the first grid column */
main {
  display: grid;
  grid-template-columns: 20% auto;
}

                      /* ------ SECTIONS ------ */
/* Making them all start at the second column of the grid (the first one is empty but occupied by the sidebar, and also making them occupy the whole height of the viewport) */
#home, #aboutMe, #whyFC,
#whatIlearned, #portfolio,
#gallery {
  grid-column-start: 2;
  min-height: 100vh;
  height: auto;
}

/* HOME */
#home {

  /* Setting up a responsive background image */
  background: url('../assets/images/bgHome.png') no-repeat center center/cover;
  /* Avoiding scrolling */
  overflow: hidden;
  /* Using flexbox to center the grid in the middle of the page */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
}

#home #home-grid {
  /* Make the grid container a bit smaller than the page to create some padding effect */
  width: 80%;
  display: grid;
  /* Create two columns one of which is twice as wide than the other */
  grid-template-columns: 2fr 1fr;
  grid-gap: 3%;
  /* Creating some grid template areas that will be modified later on with media queries */
  grid-template-areas: "header image"
                       "content content";
}

#home h1 {
  grid-area: header;
}
/* Creating the anaglyph effect of the h1 */
#home h1:after {
  content:"Hello World!";
}

#home img{
  /* Positioning the image in the grid */
  grid-area: image;
  justify-self: center;
  align-self: start;

  /* Moving it on the Y axis */
  -webkit-transform: translateY(-40%);
  -moz-transform: translateY(-40%);
  transform: translateY(-40%);

  /* Giving it a shadow */
  -webkit-box-shadow: var(--overlay-shadow);
  -moz-box-shadow: var(--overlay-shadow);
  box-shadow: var(--overlay-shadow);

  /* Making it rounded so the shadow is not a square */
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border-radius: 200px 200px 200px 200px;
}

#home p{
  /* Positioning it in the grid area */
  grid-area: content;
  font-size: 2.5rem;
  color: var(--dark-blue-grey);
  background-color: var(--caption-background);
  padding: 1.5rem;

  /* Giving it a shadow */
  -webkit-box-shadow: var(--overlay-sahdow);
  -moz-box-shadow: var(--overlay-sahdow);
  box-shadow: var(--overlay-sahdow);
}

/* ABOUT ME */
#aboutMe {
  background: url('../assets/images/bgShapes.png') no-repeat center center/cover;
  /* Using flexbox to center the grid in the top middle of the page */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 5vh;
}

/* Setting up the grid layout */
#aboutMe #aboutMe-grid {
  width: 90%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "header       header"
                       "subheader subheader"
                       "title1       title2"
                       "p1               p3"
                       "p2               .";
}

#aboutMe h1 {
  display: inline;
  margin-top: 0;
  grid-area: header;
  justify-self: center;
}

#aboutMe h1:after {
  content: "About Me";
  justify-self: center;
}

/* Styling the paragraph immediatly next to the header */
#aboutMe h1+p {
  color: var(--dark-blue-grey);
  line-height: 2.5rem;
  font-size: 1.7rem;
  grid-area: subheader;
  justify-self: center;
  text-align: center;
  margin-top: -5rem;
  opacity: 0.8;
}
#aboutMe h2{
  color: var(--dark-blue-grey);
  background: var(--overlay-background);
  padding: 0.5em;
  box-shadow: var(--overlay-shadow);
  justify-self: center;
}
#aboutMe p{
  color: var(--dark-grey);
  font-size: 1.6rem;
  line-height: 2rem;
  justify: center;
}
/* Placing elements in the grid */
#aboutMe h2:nth-of-type(1){
    grid-area: title1;
}
#aboutMe h2:nth-of-type(2){
    grid-area: title2;
}
#aboutMe p:nth-of-type(2) {
  grid-area: p1;
}
#aboutMe p:nth-of-type(3) {
  grid-area: p2;
}
#aboutMe p:nth-of-type(3) {
  grid-area: p3;
}

/* WHY FOUNDERS AND CODERS */
#whyFC, #whatIlearned{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 5vh;
}
#whyFC{
  background: url('../assets/images/bgShapes2.png') no-repeat center center/cover;
}
#whyFC #whyFC-grid,  #whatIlearned #whatIlearned-grid{
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  grid-gap: 5rem;
}

#whyFC h1 , #whatIlearned h1{
  display: inline;
  justify-self: center;
}
#whyFC h1:after{
  content: "Why F&C";
}

#whyFC p, #whatIlearned p{
  color: var(--dark-grey);
  font-size: 1.6rem;
  line-height: 2rem;
  justify: center;
}


/* WHAT I'VE LEARNED */
#whatIlearned {
  background: url('../assets/images/bgShapes3.png') no-repeat center center/cover;
}
#whatIlearned h1:after{
  content: "What have I learned?";
}
/* PORTFOLIO */
#portfolio {
  background: url('../assets/images/bgShapes2.png') no-repeat center center/cover;
  height: 100vh;
  padding-bottom: 5vh;
}

/* Make the div containing the cards centered and create a responsive grid*/
#portfolio-grid {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-gap: 2rem;
  align-content: center;
}

/* Make each card span the whole grid cell space and change the cursos to pointer */
#portfolio-grid .card {
  position:relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

/* Styling both sides of the cards */
.front, .back {
  width: 100%;
  height: 100%;
  /* Avoid scrolling */
  overflow: hidden;
  /* Avoid text to be mirrowed when turning the card 180deg */
  backface-visibility: hidden;

  -webkit-transition: 0.6s ease-in-out;
  -moz-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

/* Positioning the front absolute so it can sit on top of the back */
.front {
  position: absolute;
  -webkit-transform: perspective(600px) rotateY(0deg);
  -moz-transform: perspective(600px) rotateY(0deg);
  transform: perspective(600px) rotateY(0deg);
}

/* Giving the back some height, a background image, and flipping it over 180deg so its not visibile  */
.back {
  height: 30vh;
  background: var(--nav-gradient);
  -webkit-transform: perspective(600px) rotateY(180deg);
  -moz-transform: perspective(600px) rotateY(180deg);
  transform: perspective(600px) rotateY(180deg);
}

/* Styling the back of the card */
.back-content {
  height: 100%;
  top: 50px;
  color: var(--white);
  opacity: 0.8;
  text-align: center;
  width: 100%;
  padding: 4rem;
}

/* Styling the buttons at the back of the card */
.back-content > .buttons{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  font-size: 2.5rem;

  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
}

/* avoiding the default blue colour in links  */
.back-content a {
    color: inherit;
}

/* Adjusting the size of the span text */
.back-content span{
   font-size: 1.2rem;
 }

/* Styling the technologies icons */
.technologies {
  font-size: 1.6rem;
  margin-top: 1rem;
}

/* targetting the 'back' immediate child of card when hovering and modifying its rotation and perspective */
.card:hover > .back {
  -webkit-transform: perspective(600px) rotateY(0deg);
  -moz-transform: perspective(600px) rotateY(0deg);
  transform: perspective(600px) rotateY(0deg);
}

/* targetting the 'front' immediate child of card when hovering and modifying its rotation and perspective */
.card:hover > .front {
  -webkit-transform: perspective(600px) rotateY(-180deg);
  -moz-transform: perspective(600px) rotateY(-180deg);
  transform: perspective(600px) rotateY(-180deg);
}

/* Giving each back side of the cards a responsive background image */
.front#one{
  background: url('../assets/images/portfolio1.png') no-repeat center center/cover;
}
.front#two{
  background: url('../assets/images/portfolio2.jpg') no-repeat center center/cover;
}
.front#three{
  background: url('../assets/images/portfolio3.png') no-repeat center center/cover;
}
.front#four{
  background: url('../assets/images/portfolio4.png') no-repeat center center/cover;
}
.front#five{
  background: url('../assets/images/portfolio5.png') no-repeat center center/cover;
}
.front#six{
  background: url('../assets/images/portfolio6.png') no-repeat center center/cover;
}

/* GALLERY */
#gallery {
  background-color: #A7DB66;
}

/* Image Caroussel */
.caroussel {
  /* Position it relative to the gallery section */
  position: relative;
  /* Avoiding horizontal scrolling */
  overflow: hidden;
  /* Making it occupy the whole height of the viewport */
  height: 100vh;
  /* Giving it the space not used by the sidebar (20vh) */
  width: 80vw;
}

/* Each of the slides in the caroussel */
.slide {
  /* Positioned absolute and at the top left corner of the carousel */
  position: absolute;
  top: 0;
  left: 0;
  /* Giving them the whole width available taking in to account the sidebar */
  width: 80vw;
  /* And the full height of the viewport*/
  height: 100%;
  /* The initial opacity is 0 but Javascript will modify this to transition between slides */
  opacity: 0;

  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

/* Javascript will manage this class to transition between slides */
.slide.current {
  opacity: 1;
}

/* Styles the images to be full screen and responsive */
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1004px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  top: 0;
  left: 0;
}

/* Styling the overlays containing the info of each image */
.slide .overlay {
  position: absolute;
  bottom: 4vh;
  /* Initially positioning them  outside the page, so they later slide in from the left, and giving them an opacity of 0 so they also fade in */
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: var(--caption-background);
  color: var(--dark-grey);
  padding: 15px;
}

.slide .overlay h1 {
  margin-bottom: 10px;
}

/* Whan Javascript adds the current class to the parent slide we make the overlay visible and slide in from the left */
.slide.current .overlay {
  opacity: 1;

  -webkit-transform: translateX(600px);
  -moz-transform: translateX(600px);
  transform: translateX(600px);

  -webkit-transition: all 0.7s ease-in-out 0.3s;
  -moz-transition: all 0.7s ease-in-out 0.3s;
  transition: all 0.7s ease-in-out 0.3s;
}

/* SMALLER SCREENS */
@media screen and (max-width:640px) {
  /* Adjusting the grid layout to have only one column */
  main{
    grid-template-columns: 1fr;
  }
  /* Make the sidebar dissappear with a nice transition effect */
  nav{
    width: 0px;
    opacity: 0.9;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  /* Positioning all the sections in the one-column grid */
  #home, #aboutMe, #whyFC,
  #whatIlearned, #portfolio,
  #gallery {
    grid-column-start: 1;
  }
  /* Now that there's no sidebar the caroussel and its slides can use the whole width of the viewport */
  .caroussel, .slide{
    width: 100vw;
  }

  /* Adding the hamburger and close buttons to the layout and positioning them */
  .buttons button#hamburger, .buttons button#close{
    display: block;
    position: fixed;
    top: 2vh;
    left: 2vw;
    /* Making them stay on top of the navbar when this one is visible (navbar has an index of 1) */
    z-index: 2;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }

  /* Revealing the hamburger button and placing it on top of the sidebar and the close button */
  .buttons button#hamburger {
    opacity: 1;
    /* Because the hamburger button is the first one that needs to be displayed I give him an index of 3, otherwise there may be conflict between it and the close button */
    z-index: 3;
  }

  /* Making the close button invisible */
  .buttons button#close {
    opacity: 0;
  }
}

@media screen and (max-width: 813px) {
  /* Making the home grid have just one column and rearrange the content */
  #home #home-grid {
    grid-template-columns: 1fr;
    grid-template-areas: "image"
                         "header"
                         "content";
    grid-gap: 1%;
  }

  /* Moving the profile pic a bit down when in mobile screens*/
  #home img{
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    transform: translateY(10%);
  }

  #home p{
    margin-top: -40px;
  }
  /* Making the aboutMe grid have just one column and rearrange the content */
  #aboutMe #aboutMe-grid {
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "subheader"
                         "title1"
                         "p1"
                         "p2"
                         "title2"
                         "p3"
  }

  /* Let the portfolio section have an auto height so it can accommodate all the cards without breaking the layout */
  #portfolio {
    height: auto;
    padding: 2vh;
  }

  /* Positioning the caroussel overlays below the page so they slide up from the bottom */
  .slide .overlay {
    bottom: -300px;
    left: 0;
    /* Make them use the whole width of the viewport */
    width: 100%;
  }

  /* When Javascript gives the slides the class of current make them slide from the bottom */
  .slide.current .overlay {
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    transform: translateY(-300px);
  }

  /* Reposition the play and pause buttons so they don't interfere with the overlay */
  .buttons button#play, .buttons button#pause {
    position: absolute;
    top: 65vh;
    left: 45%;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
}

/* On resizing, when reaching half the width of the images in the caroussel, make sure the images are centered */
@media screen and (max-width: 1004px) {
  img.bg {
    left: 50%;
    /* 50% of the image width + an offset to compensate for the sidebar */
    margin-left: calc(-502px + 40%);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
  }
}
