@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
html{
  scroll-behavior:smooth;
}
body {
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(to right,
      rgba(244, 246, 250, 1),
      rgba(239, 241, 247, 1));
}

nav {
  position: fixed;
  width: 20%;
  background: linear-gradient(to right,
      rgba(249, 107, 142, 1),
      rgba(218, 103, 230, 1),
      rgba(130, 125, 253, 1));
}

nav li {
  list-style: none;
}

nav li a {
  color: white;
  font-weight: 700;
  opacity: 0.6;
  text-decoration: none;
  transition: 0.5s;
}

nav li a:hover {
  opacity: 1;
}

.navBar, .social, .social ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  text-align: center;

}
.navBar {
  min-height: 60vh;
}

.social {
  min-height: 40vh;
}

.social img {
  width: 2em;
  padding: 0.5em;
}

.active{
  opacity: 1;
}

main {
  display: grid;
  grid-template-columns: 20% auto;
}

#home, #aboutMe, #whyFC,
#whatIlearned, #portfolio,
#gallery {
  grid-column-start: 2;
  height: 100vh;
}

#home {
  background-color: #4A4E4D;
}

#aboutMe {
  background-color: #3F9AA8;
}

#whyFC {
  background-color: #F6CD61;
}

#whatIlearned {
  background-color: #45A5AB;
}

#portfolio {
  background-color: #F18870;
}

#gallery {
  background-color: #A7DB66;
}

@media query {

}
