@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

/* GENERAL STYLING */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior:smooth;
}

body {
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(to right,
      rgba(244, 246, 250, 1),
      rgba(239, 241, 247, 1));
}

/* NAVIGATION AND SOCIAL SIDEBAR */
nav {
  position: fixed;
  width: 20vw;
  z-index: 1;
  overflow-x: hidden;
  background: linear-gradient(to right,
      rgba(249, 107, 142, 1),
      rgba(218, 103, 230, 1),
      rgba(130, 125, 253, 1));
}

nav li {
  list-style: none;
}

nav li a {
  color: white;
  font-weight: 700;
  opacity: 0.6;
  text-decoration: none;
  transition: 0.5s;
}

nav li a:hover {
  opacity: 1;
}

.navBar, .social, .social ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  text-align: center;

}

.navBar {
  min-height: 60vh;
}

.social {
  min-height: 40vh;
}

.social img {
  width: 3em;
  padding: 0.5em;
}

.active{
  opacity: 1;
}

/* MAIN CONTENT */
/* Creats grid of 2 columns and *n implicit rows */
main {
  display: grid;
  grid-template-columns: 20% auto;
  transition: grid 1s ease-in-out;
}

/* BUTTONS */
.buttons{
  position: relative;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons:hover {
  background-color: #fff;
  color: #333;
  transition: 0.3s ease-in-out;
}

.buttons.invisible{
  display: none;
}

/* SECTIONS */
#home, #aboutMe, #whyFC,
#whatIlearned, #portfolio,
#gallery {
  grid-column-start: 2;
  height: 100vh;
}

#home {
  background-color: #4A4E4D;
}

#aboutMe {
  background-color: #3F9AA8;
}

#whyFC {
  background-color: #F6CD61;
}

#whatIlearned {
  background-color: #45A5AB;
}

#portfolio {
  background-color: #F18870;
}

#gallery {
  background-color: #A7DB66;
}

/* SMALLER SCREENS */
@media (max-width:640px) {
  /* Adjusting the grid layout to have only one column */
  main{
    grid-template-columns: 1fr;
  }
  /* Make the sidebar dissappear with a nice transition effect */
  nav{
    width: 0px;
    transition: all 1s ease-in-out;
  }
  /* Positioning all the sections in the one-column grid */
  #home, #aboutMe, #whyFC,
  #whatIlearned, #portfolio,
  #gallery {
    grid-column-start: 1;
  }

  /* Adding the sidebar buttons to the layout and positioning them */
  .buttons#hamburger, .buttons#close{
    display: block;
    position: fixed;
    top: 2vh;
    left: 2vw;
    z-index: 2;
    transition: 1s ease-in-out;
  }

  /* Revealing the hamburger button and placing it on top of the sidebar */
  .buttons#hamburger {
    opacity: 1;
    z-index: 3;
  }

  /* Making the close button invisible */
  .buttons#close {
    opacity: 0;
  }
}
